<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lumio"
        android:screenOrientation="portrait">

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Lumio.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.TicTacToeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.ChessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.LudoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.AirHockeyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.EightBallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.CarromActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.WaterSortActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.BlockPuzzleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.HexaFallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.TileDomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.DiceDomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.CrazyKnifeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>
</manifest>
